/* HEADER */
div#header {
  height: 60px;
  padding: 0 0 10px 0;
}
div#header h1 {
  font-size: 3em;
  float: left;
  margin: 0.5em 0 0 0;
}
div#header div#user_links {
  text-align: right;
}

/* NAVIGATION */
div#navigation {
	background: #333;
	padding: 6px;
}
div#navigation a {
	color: #fff;
	font-size: 1.6em;
	font-weight: bold;
	margin: 0 2em 0 0;
	text-decoration: none;
}
div#navigation a:hover {
	background-color: inherit;
	border-bottom: 2px solid #fff;
}

/* CONTENT */
div#content {
	padding: 10px 0;
}
div#content div.skinny_left {
  float: left;
  width: 100px;
}
div#content div.wide_right {
  border-left: 1px solid #333;
  margin-left: 100px;
  padding: 0 0 0 10px;
}

/* FOOTER */
div#footer {
  border-top: 2px solid #333;
	font-size: 0.9em;
  margin: 0 0 10px 0;
  padding: 10px 0 0 0;
}

