div#header {
  border-bottom: 3px solid #333;
  height: 60px;
  padding: 0 0 10px 0;
}
div#header h1 {
  font-size: 3em;
  float: left;
}
div#header div#user_links {
  text-align: right;
}

div#content {
	padding: 10px 0;
}

div#footer {
  border-top: 2px solid #333;
  margin: 0 0 10px 0;
  padding: 10px 0 0 0;
}

