img.user_skill_image {
	width: 10px;
	height: 20px;
	vertical-align: bottom;
}

span.user_skill_images {
	margin-right: 10px;
}

span.mentorship_skills {
	margin-left: 20px;
}

.title_skill {
	background:#ffffaa;
	padding:7px;
}
