<p>
  Hey <%= @receiver.name %>,
</p>

<p>
  <%= @sender.name %> will not be available to mentor you in <%= @skills %>.
</p>

<% unless @mentorship.receiver_note.blank? -%>
<p>
  <%= @sender.name %> did want to pass along this note:
</p>
<blockquote>
  I'm really swamped this month. Maybe next month?
</blockquote>
<% end -%>

<p>
  We encourage you to keep looking for an apprentice and are more than happy to help in any way that we can.
</p>

<p>
  -- Your Friends at Coding Mentors
</p>