<% @content_title = "About" %>

Derek Lane and Mark McSpadden started Coding Mentors to help encourage mentoring and software craftsmanship. Here's a little bit about us.

<h2>Derek Lane</h2>

<p>
  After years of fumbling around with the backyard grill, Derek Lane has recently found his life’s calling as a BBQ Life Coach and a practitioner of all things BBQ. Oddly enough, he has also been known to ply both the art and science of Software Craftsmanship over the last couple of decades as well. Striving to find efficient and productive ways to build software has taken Lane on a journey where he has worn various hats including mentor, coach, architect, strategist, visionary, manager, developer, trainer, and methodologist, all while striving to apply the best technology for the job at hand. He is also a contributor to various projects as an author, presenter, committer, and technical reviewer.
</p>

<p>
  Lane is a big believer in the value of volunteer based communities. This belief led him to start several technology based user groups including the Dallas/Fort Worth Texas MicroJava User Group, the Oklahoma City Java User Group (OKCJUG), and The Next Big JDK Thing User Group in Dallas, Texas. Lane has been active as a member, presenter, and mentor for over a decade at various technology user groups across the Midwest and Southern US. He has also been spotted dispensing his unorthodox and zany presentation skills at various conferences including the nationwide No Fluff Just Stuff Tour, and the Dallas and Tulsa Tech Fests.
</p>

<h2>Mark McSpadden</h2>
<p>
  Mark is a developer helping the financial services industry find it’s way (securely) into this web savvy world. Since starting on Rails (and Ruby) in 2005, he has benefited greatly from the help, guidance, and contributions of others in the industry. This camaraderie has led to a exploration into Software Craftsmanship and Mentorship and ways to improve these efforts within the Ruby community.
</p>

<p>
  Mark works at <a href="http://www.thegarlandgroup.net">The Garland Group</a> on projects like <a href="http://www.banktastic.com">Banktastic</a> and <a href="http://www.riskkey.com">RiskKey</a> and keeps busy “after-hours” with side projects like <a href="http://www.firehosefilter.com/clouds/cu">The CU Filter</a> and the soon to be announced Coding Mentors.
</p>