<% learn_skill = @skills.first %>
<% teach_skill = @skills.last %>

<% @content_title = title_skills(learn_skill, teach_skill) %>

<p>
  This is Coding Mentors, a community dedicated to helping people improve their coding chops and share the wealth with others. Take a look around and see if there's someone you can help out...or someone you can get some help from.
</p>

<h2>A Few of the Folks Hanging Around...</h2>
<%= render "/users/list", :users => @users %>
