<h2>Commitment</h2>
<p>
  We are currently asking everyone that starts one of these relationships to commit for a time of <strong>4 weeks.</strong> (If both parties want to continue on past 4 weeks, that is very cool, but we feel like this is a good time frame to start with.)
</p>
<p>  
  This commitment will run until close to <strong><%= display_date Time.now.advance(:weeks => 4) %>.</strong> (Depending on if/when it's accepted.)
</p>

<h2>Availability</h2>

<p>
  <%= not_current_user.name %> is currently available for <strong><%= not_current_user.remote_availability %> remotely</strong> and <strong><%= not_current_user.local_availability %> locally</strong>.
</p>