<% @content_title = "Thanks for getting the ball rolling..." %>

<% not_current_user = current_user == @mentor ? @mentee : @mentor %>

<p>
  We will be sending an email off to <%= not_current_user.name %> shortly and hopefully you'll hear something back soon.
</p>

Checkout our resources
<ul>
  <li>Canned in General</li>
  <li>Canned Skill Based</li>
  <li>Mentor specific</li>
</ul>

<p>
  Until then....(give person something cool to do)
  
  code kata?
  
  find someone to mentor?
  
  need a mascot....flickr picture of the mascot
</p>