<% @content_title = "Thanks for getting the ball rolling..." %>

<% not_current_user = current_user == @mentor ? @mentee : @mentor %>

<p>
  We will be sending an email off to <%= not_current_user.name %> shortly and hopefully you'll hear something back soon.
</p>

<p>
  Until then...checkout the <%= link_to "resources page", guides_path %> for some great craftsmanship reading and exercises.
</p>